@media (max-width: 1366px) and (min-width: 1200px) {
}
@media (max-width: 1366px) and (min-width: 1024px) {
    
}
@media (max-width: 1023px) and (min-width: 992px) {
}
@media (max-width: 991px) and (min-width: 768px) {
    .build-workout-container {
        .inner {
          margin: 0px;
          padding: 0px !important;
          .col-10 {
            max-width: 100%;
            flex: 1;
          }
        }
      }
}
@media (max-width: 767px) and (min-width: 685px) {
    .build-workout-container {
        .inner {
          margin: 0px;
          padding: 0px !important;
          .col-10 {
            max-width: 100%;
            flex: 1;
          }
        }
      }
}
@media (max-width: 684px) and (min-width: 568px) {
    .build-workout-container {
        .inner {
          margin: 0px;
          padding: 0px !important;
          .col-10 {
            max-width: 100%;
            flex: 1;
          }
        }
      }
}
@media (max-width: 567px) and (min-width: 480px) {
    .build-workout-container {
        .inner {
          margin: 0px;
          padding: 0px !important;
          .col-10 {
            max-width: 100%;
            flex: 1;
          }
        }
      }
}
@media (max-width: 479px) and (min-width: 320px) {
  .build-workout-container {
    .inner {
      margin: 0px;
      padding: 0px !important;
      .col-10 {
        max-width: 100%;
        flex: 1;
      }
    }
  }
}
