.container-faq {
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    .heading {
      padding-top: 40px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e6e7e9;
    }
    .question {
      color: #1b6adf;
    }
    .paragraph {
      padding: 40px 40px;
    }
    .paragraph-B {
      padding: 40px 40px;
    }
  }
  