@media (max-width: 1366px) and (min-width: 1200px) {
}
@media (max-width: 1366px) and (min-width: 1024px) {
  
}
@media (max-width: 1023px) and (min-width: 992px) {
}
@media (max-width: 991px) and (min-width: 768px) {
  .feedback-main {
    padding: 0px !important;
    .feedback-inner {
      padding: 20px !important;
    }
  }
  .contact-us-container {
    padding: 0px !important;
  }
}
@media (max-width: 767px) and (min-width: 685px) {
  .feedback-main {
    padding: 0px !important;
    .feedback-inner {
      padding: 20px !important;
    }
  }
  .contact-us-container {
    padding: 0px !important;
  }
}
@media (max-width: 684px) and (min-width: 568px) {
  .feedback-main {
    padding: 0px !important;
    .feedback-inner {
      padding: 20px !important;
    }
  }
  .contact-us-container {
    padding: 0px !important;
  }
}
@media (max-width: 567px) and (min-width: 480px) {
  .feedback-main {
    padding: 0px !important;
    .feedback-inner {
      padding: 20px !important;
    }
  }
  .contact-us-container {
    padding: 0px !important;
  }
}
@media (max-width: 479px) and (min-width: 320px) {
  .feedback-main {
    padding: 0px !important;
    .feedback-inner {
      padding: 20px !important;
    }
  }
  .contact-us-container {
    padding: 0px !important;
  }
}
