.main-container-gym {
    background-color: #f2f7fc;
    padding: 15px 10px 30px 10px;
    .search-input {
      width: 100%!important;
      padding: 26px;
    }
    .main-div {
      padding: 20px 30px 20px 30px;
      background-color: #ffffff;
      border-radius: 5px;
      align-items: center;
      box-shadow: 1px 1px 5px #c3bbbb;
    }
  }
  